.cat
    .paw
    .paw
    .shake
        .tail
        .main
            .head
            .body
                .leg
            .face
                .mustache_cont
                    .mustache
                    .mustache
                .mustache_cont
                    .mustache
                    .mustache
                .nose
                .eye
                .eye
                .brow_cont
                    .brow
                    .brow
                .brow_cont
                    .brow
                    .brow      
                .ear_l
                    .inner
                .ear_r
                    .outer
                    .inner